.HeroContainer{
    margin-top: 7rem;
    color: black;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.HeroTextContainer{
    height: 400px;
    width: 700px;
    margin-top: 100px;
    margin-left: 50px;
  
}

.EmojiContainer{
    height: 400px;
    width: 400px;
    margin-top: 50px;
    margin-right: 40px;
    opacity: 1;
    z-index: 2;
    
}

.WaveContainer{
    display: flex;
    justify-content: row;
}

.Wave{
    height: 80px;
    width: 80px;
    font-size: 60px;
    z-index: 1;
    margin-left: 20px;
}

.Greeting{
    color: white;
    margin-top: 10px;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
}

.IM{
    color: white;
    margin-top: 10px;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
}

.AP{
    color: #DFD498;
    margin-top: 10px;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    margin-left: 10px;
}

.Memoji{
    width: 400px;
    height: 400px;
}

.APContainer{
    display: flex;
    flex-direction: row;
}

.About{
    color: white;
    margin-top: 30px;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
}

  @media only screen and (max-width: 1200px) {
    .HeroTextContainer {
        width: 500px;
    }

    .HeroTextContainer {
        margin-top: 0;
    }

    .EmojiContainer{
        height: 300px;
        width: 300px;
        margin: -50px;
        margin-right: 2rem;
    }

    .Memoji{
        height: 400px;
        width: 400px;
       
    }
  }

  @media only screen and (max-width: 833px){
    .HeroContainer {
        margin-top: 0.5rem;
    }

    .Memoji{
        height: 250px;
        width: 250px;
        margin-top: -50px;
        margin-left: 80px;
    }

  }

  @media only screen and (max-width: 514px) {
    .HeroTextContainer {
        margin-top: 1rem;
    }

    .IM{
        font-size: 30px;
        margin-top: -10px;
    }

    .EmojiContainer{
        margin-top: -70px;
    }

    .AP{
        font-size: 30px;
        margin-top: -10px;
    }

    .Greeting{
        font-size: 40px;
    }

    .Wave{
        font-size: 50px;
        margin-left: 10px;
        margin-top: 5px;
    }

    .About{
        font-size: 20px;
    }

  }

  @media only screen and (max-width: 414px) {
    
    .HeroContainer {
        margin-top: 1rem;
    }
    .EmojiContainer{
        margin-top: -80px;
        margin-left: 20px;
        margin-bottom: -100px;
    }
    
    .Memoji {
        height: 200px;
        width: 200px;
    }
}