body{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    animation: unlock-scolling 2s ease forwards 4s;
}

.scrollable-element {
    scrollbar-color: red yellow;
  }

.IntroBG{
    background-color: black;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    animation: fade-out 2s ease forwards 3s;
    animation: move-out 2s ease forwards 4s;
    z-index: 100000000000000000000;
}

.logoContainer{
    animation: fade-out 1s ease forwards 3s;
}

#introLogo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 1s ease forwards 1.5s;
}

#introLogo > path:nth-child(1){
    stroke-dasharray: 790px;
    stroke-dashoffset: 790px;
    animation: line-anim 2s ease forwards;
}

#introLogo path:nth-child(2){
    stroke-dasharray: 565px;
    stroke-dashoffset: 565px;
    animation: line-anim 1.5s ease forwards;
}

@keyframes line-anim{
    to{
         stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: #DFD498;
    }
}

@keyframes fade-out{
    to{
         opacity: 0;
    }
}


@keyframes move-out{
    to{
         opacity: 0;
    }
}

@keyframes unlock-scolling{
    to{
        overflow-y: scroll;
   }
}


